[Unit]
Description=Redis Container
After=docker.service
Requires=docker.service

[Service]
User=luke
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --rm --name %n redis
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
